## Задание

Данные имеют следующий вид:

    Clothing ID: id одежды
    Age: возраст клиента
    Title: заголовок отзыва по продукту
    Review Text: отзыв по продукту
    Rating: рейтинг продукта от 1 (худшее) до 5 (лучшее)
    Recommended IND: Бинарная переменная указывающая рекомендует ли клиент данный продукт (1) или нет (0)
    Positive Feedback Count: Количество клиентов, нашедших данный продукт хорошим
    Division Name, Department Name, Class Name - категории и подкатегории продукта
    
**_Rating_** - целевая переменная (y), которую требуется предсказывать по имеющимся характеристикам

train.csv - датасет для обучения
<br>
test.csv - датасет для теста, на котором будет производиться вычисление итоговой метрики

Тестируемая метрика: **accuracy**

В качестве решения задания требуется прислать csv файл
<br>
Формат файла: Rating (один столбец). Пример см. ниже
<br>
Название файла: Surname_Name_#group.csv (Ivanov_Ivan_316.csv)

In [1]:
import pandas as pd

In [2]:
pd.DataFrame({'Rating': [5]*3})

   Rating
0       5
1       5
2       5